/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BACKGROUND */
body {
  background: #e7efd9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.auth-card {
  width: 320px;
  background: white;
  padding: 25px 20px;
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

/* BACK BUTTON */
.back {
  position: absolute;
  left: 15px;
  top: 15px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* ICON */
.icon {
  font-size: 70px;
  margin-bottom: 10px;
}

/* TITLE */
.auth-card h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

/* DESC */
.auth-card p {
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* INPUT */
.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #eee;
  outline: none;
  margin-bottom: 15px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(45deg, #f7a21b, #f9b233);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

/* ALT TEXT */
.alt {
  margin-top: 10px;
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
